* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: maroon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(166, 75, 2, 0.5);
  z-index: 1;
  padding: 10px;
  min-height: 100px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  color: white;
  padding-left: 50px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav a {
  color: whitesmoke;
  padding: 30px;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
  text-transform: italic;
}

main {
  margin-top: 100px;
  color: white;
}

footer {
  background-color: rgba(166, 75, 2, 0.5);
  text-align: center;
  padding: 10px;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
}
