* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: maroon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(166, 75, 2, 0.5);
  z-index: 1;
  padding: 10px;
  min-height: 100px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  color: white;
  padding-left: 50px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav a {
  color: whitesmoke;
  padding: 30px;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
  text-transform: italic;
}

main {
  margin-top: 100px;
  color: white;
}

footer {
  background-color: rgba(166, 75, 2, 0.5);
  text-align: center;
  padding: 10px;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  left: 1%;
  transform: translate(0%, -100%);
  background-color: brown;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.info a {
  background-color: rgba(34, 139, 34, 0.7);
  text-decoration: none;
  font-size: xx-large;

  border-radius: 8px;

  margin-top: 25px;
  margin-right: 150px;

  padding: 5px;

  display: flex;
  justify-content: center;

  width: auto;
  height: auto;

  border: 2px solid transparent;
}

#about .info {
  bottom: 250px;
}

#experience .info {
  bottom: 80px;
}

#adopt .info {
  bottom: 250px;
}

#shop .info {
  bottom: 900px;
}

.info a:hover {
  border: 2px solid green;
  background-color: rgba(255, 250, 240, 1);
  color: rgba(34, 139, 34, 0.7);
  text-decoration: underline;
  cursor: pointer;
}
